extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let kiteid = toShow._id
    - let kite_color = toShow.kite_color
    - let kite_price = toShow.kite_price
    - let kite_name = toShow.kite_name

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{kiteid}

    - let actionid = "/resource/kite/" + kiteid
    form(id='kiteForm', action=actionid, method="PUT")
      div.form-group
        label.kiteAttr(for='kite_color') Kite Color
        input#kite_color(type='text', name='kite_color', value=kite_color)
      div.form-group
        label.kiteAttr(for='kite_name') Kite Name
        input#kite_name(type='text', name='kite_name', value=kite_name)
      div.form-group
        label.kiteAttr(for='kite_price') Kite Price
        input#kite_price(type='number', name='kite_price', value=kite_price)
        input(type="submit")

    script.
      document.forms['kiteForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO: do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.text(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO: handle body
        }).catch((error) => {
          // TODO: handle error
      
