extends layout
block content
    h1=title
    -let kite= [{kite_color:"Black",kite_name:"King",kite_price:20},{kite_color:"White",kite_name:"Delta",kite_price:55},{kite_color:"Purple",kite_name:"Square",kite_price:40}];
    div(class="container-fluid")
        div(class="row m-1")
            each k in results
                - let destination = `dispatch(\"/kite/update?id=${k._id}\")`
                div(class="row-sm-2", class="m-1")  color:#{k.kite_color} name:#{k.kite_name} price:#{k.kite_price}
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
        script.
            function dispatch(path){
                window.location.href=path
            }   


        