extends layout

block content
  h1= title
  - let kiteid = toShow._id
  - let kite_color = toShow.kite_color
  - let kite_name = toShow.kite_name
  - let kite_prize = toShow.kite_prize

  div
    div.row
      div(class='kiteAttr mr-3') Kite ID is:
      div #{kiteid}

    div.row
      div(class='kiteAttr mr-3') Kite Type is:
      div #{kite_color}

    div.row
      div(class='kiteAttr mr-3') Kite name is:
      div #{kite_name}

    div.row
      div(class='kiteAttr mr-3') Kite prize is:
      div #{kite_prize}
